# Binary files
bin/Debug/*
!bin/Debug/debug.txt
bin/Release/*
!bin/Release/release.txt

# Visual Studio
.vs/
game-prototype.sln
game-prototype/game-prototype.vcxproj
game-prototype/game-prototype.vcxproj.filters
game-prototype/game-prototype.vcxproj.user
